<!DOCTYPE html>
<npdc:edit-button class="np-primary-control"></npdc:edit-button>
<npdc:loader ng-if="!document"></npdc:loader>


<div ng-if="document" class="np-padding">


<h3>Overview</h3>


  <md-divider></md-divider>

    <br /><p>Title: {{document.title}}  <p />
    <p>Category:  {{ (document.category) }} <p />
    <p>Description: {{document.description}}<p />
     <p>EPhorte no: {{document.ephorte_no}}<p /><br />


 <npdc:persons></npdc:persons>
 <npdc:organisations></npdc:organisations>

  <div ng-if="document.locations" ng-repeat="location in document.locations">
  <h3>Locations</h3>
   <md-divider></md-divider>
      <p>Placename: {{location.placename}} </p>
      <p>Place: {{(location.place).charAt(0).toUpperCase()}}{{(location.place).toLowerCase().slice(1)}} </p>
      <p>Comment: {{location.comment}} </p>
   <!--   <div ng-if="location.gps" ng-repeat="gps in location.gps">
      <p>Location GPS (lat, lng): {{gps.longitude}} &nbsp;&nbsp; {{gps.latitude}}
      </div> -->
    </div>


<br /><br />
  <h3>Dates</h3>
   <md-divider></md-divider>
    <p>Release date: {{(document.release_dates.start_date).substr(0,10)}} </p>
   <p>Intended removal date: {{(document.intended_removal_date).substr(0,10)}} </p>
    <p>Removal date: {{(document.release_dates.end_date).substr(0,10)}} </p>
     <p>Date comment: {{(document.comment_date).substr(0,10)}} </p>
<br />



<h3>Sites</h3>
<md-divider></md-divider>
<p ng-if="document.field_hut"> Field hut </p>
<p ng-if="document.research_station"> Research station </p>
<p ng-if="document.cultural_heritage"> Cultural heritage </p>
<p ng-if="document.airstrip"> Airstrip </p>
<p ng-if="document.heliport"> Heliport </p>
<p>Other stationaries: {{ document.stationary_other }}</p>
<p>Quantity: {{ document.stationary_quantity }}</p><br />


  <h3>Instruments</h3>
  <md-divider></md-divider>
  <section ng-if="document.instrument" ng-repeat="inst in document.instrument">
        <p>Instrument: {{ inst.instrument }}</p>
        <p>Instrument description: {{ inst.instrument_description }}</p>
        <p>Quantity: {{ inst.quantity }}</p>
       <br />
  </section>

  <h3>Contamination</h3>
  <md-divider></md-divider>
  <section ng-if="document.contamination" ng-repeat="ctmn in document.contamination">
         <p>Type: {{ ctmn.type }}</p>
         <p>Priority: {{ ctmn.priority }}</p>
         <p>Impact likelihood: {{ ctmn.impact_likelihood }}</p>
         <p>Impact spatial: {{ ctmn.impact_spatial }}</p>
         <p>Impact temporal: {{ ctmn.impact_temporal }}</p>
           <p ng-if="ctmn.impact_documented "> Impact documented </p>
            <p ng-if="!ctmn.impact_documented "> Impact not documented </p>
         <p>Quantity: {{ ctmn.quantity }}</p>
         <br />
  </section>


  <h3>Fuel</h3>
  <md-divider></md-divider>
  <section ng-if="document.fuel" ng-repeat="fuel in document.fuel">
     <p>Fuel tank: {{ fuel.fuel_tank }}</p>
     <p>Content: {{ fuel.content }}  </p>
     <p ng-if="fuel.drum_full"> Drums full </p>
     <p ng-if="fuel.drum_emptied"> Drums emptied to be removed </p>
     <p>Expiration date:  {{ (fuel.expiration_date).substr(0,10) }} </p>
      <p>Quantity: {{ fuel.quantity }} </p>
       <br />
  </section>



  <h3>Field activities</h3>
   <md-divider></md-divider>
   <p ng-if="document.rock_samples"> Rock samples </p>
   <p ng-if="document.soil_samples"> Soil samples </p>
   <p ng-if="document.sediment_samples"> Sediment samples </p>
   <p ng-if="document.flora_samples"> Flora samples </p>
   <p ng-if="document.fauna_samples"> Fauna samples </p>
   <p ng-if="document.interference_fauna_flora"> Interference flora/fauna </p>
   <p ng-if="document.introduced_species">Introduced species </p>
   <p ng-if="document.animal_censors"> Animal censors </p>
   <p ng-if="document.explosives"> Explosives </p>
   <p ng-if="document.radionucleides"> Radionucleids </p>
   <p ng-if="document.ice_sampling"> Ice sampling </p>
   <p ng-if="document.ice_coring"> Ice coring </p>
   <p ng-if="document.snow_sampling"> Snow sampling </p>
   <p ng-if="document.air_sampling"> Air sampling </p>
   <p ng-if="document.water_sampling"> Water sampling </p>
   <p ng-if="document.other_invasive_activity"> Other invasive activity</p>
<br />


<npdc:links links="links" related="related"></npdc:links>




  <h3>Photos</h3>
  <md-divider></md-divider>

   <h3>Uploads</h3>
  <md-divider></md-divider>



   <section ng-if="alternate">
        <md-divider></md-divider>
        <h3>Machine-readable metadata</h3>
        <!-- @todo CC0 for metadata? <p></p> -->
        <p>
          <div ng-repeat="link in alternate">
            <a ng-href="{{link.href}}" title="{{link.type}}">{{ link.title || link.href }}</a>
            </div>
        </p>
      </section>

      <section>
        <npdc:document-meta></npdc:document-meta>
      </section>



